Need to create a permno-cik map. Attempting to extract from class ccm dataset

In [ ]:
import pandas as pd
import zipfile
import os

In [ ]:
import pandas as pd

path_2019 = "../data/supplement/ccm_from_class/2019_ccm_cleaned.dta"

df_2019 = pd.read_stata(path_2019)

print(df_2019.shape)
df_2019

(3552, 39)

,gvkey,lpermno,datadate,fyear,tic,sic,sic3,td,long_debt_dum,me,...,mb,prof_a,ppe_a,cash_a,xrd_a,dltt_a,invopps_FG09,sales_g,dv_a,short_debt
0,1004,54594.0,2019-05-31,2018.0,AIR,5080.0,508.0,141.699997,1.0,1046.770874,...,1.092849,0.101173,0.229897,0.027089,0.000000,0.093396,0.777620,NaN,0.006921,0.000000
1,1045,21020.0,2019-12-31,2019.0,AAL,4512.0,451.0,33444.000000,1.0,12280.862305,...,1.206665,0.100408,0.728927,0.066406,0.000000,0.481290,0.768908,NaN,0.002967,0.136616
2,1050,11499.0,2019-12-31,2019.0,CECE,3564.0,356.0,87.083000,1.0,269.149414,...,1.186308,0.073980,0.070676,0.090442,0.000000,0.199338,0.854421,NaN,0.000000,0.064605
3,1072,81912.0,2019-03-31,2018.0,AVX,3670.0,367.0,0.000000,0.0,2927.442871,...,1.193107,0.143644,0.162002,0.289061,0.010877,0.000000,1.034824,NaN,0.027618,NaN
4,1076,10517.0,2019-12-31,2019.0,PRG,7359.0,735.0,710.416016,1.0,3810.264893,...,1.628603,0.341853,0.602309,0.017513,0.000000,0.189984,1.287155,NaN,0.002862,0.118080

-> for some reason few permno (3552)

In [ ]:
path_class = "../data/supplement/ccm_from_class/CCM_cleaned_for_class.dta"

df_class = pd.read_stata(path_class)

print(df_class.shape)
df_class

(223001, 43)

,gvkey,fyear,datadate,lpermno,gsector,sic,sic3,age,tic,state,...,tnic3hhi,tnic3tsimm,prodmktfluid,delaycon,equitydelaycon,debtdelaycon,privdelaycon,l_emp,l_ppent,l_laborratio
0,1000,1975.0,1975-12-31,25881.0,,3089.0,308.0,0.0,AE.2,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.719789,2.111788,1.930200
1,1000,1976.0,1976-12-31,25881.0,,3089.0,308.0,1.0,AE.2,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.900161,2.858766,2.421281
2,1000,1977.0,1977-12-31,25881.0,,3089.0,308.0,2.0,AE.2,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.008323,3.040562,2.437114
3,1001,1983.0,1983-12-31,10015.0,25,5812.0,581.0,0.0,AMFD.,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.869618,2.255074,1.817871
4,1001,1984.0,1984-12-31,10015.0,25,5812.0,581.0,1.0,AMFD.,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.917090,2.618490,2.135985

-> this is probably it, 22550 distinct lpermno

some descriptions:
lpermno,CRSP Identifier,,,,,,,
sic,Industry (4 digit),,,,,,,
sic3,Industry (3 digit),,,,,,,