Looking at stock data:

In [5]:
import pandas as pd

# Load stock returns
df_returns = pd.read_csv("../data/raw/crsp_data/crsp_data.csv")

print(df_returns.shape)
df_returns

(4047630, 3)

         permno        date      ret
0         10000  1986-01-31      NaN
1         10000  1986-02-28 -25.7143
2         10000  1986-03-31  36.5385
3         10000  1986-04-30  -9.8592
4         10000  1986-05-30 -22.2656
...         ...         ...      ...
4047625   93436  2024-08-30  -7.7391
4047626   93436  2024-09-30  22.1942
4047627   93436  2024-10-31  -4.5025
4047628   93436  2024-11-29  38.1469
4047629   93436  2024-12-31  17.0008

[4047630 rows x 3 columns]