In [6]:
import pandas as pd

# Load your portfolio variants and the OAP benchmark
df_prop = pd.read_csv('../data/processed/filtered_portfolio_returns-PROP.csv', parse_dates=['month'])
df_wins = pd.read_csv('../data/processed/filtered_portfolio_returns-WINS.csv', parse_dates=['month'])
df_oap = pd.read_csv('../data/processed/OAP_signal_returns.csv', parse_dates=['date'])

# Rename OAP date column to match others
df_oap.rename(columns={'date': 'month'}, inplace=True)

# Check
print(df_prop.head())
print(df_wins.head())
print(df_oap.head())

df_oap

       month  portfolio_return  portfolio_return_decimal  cum_portfolio
0 1994-05-31         -0.271882                 -0.002719       0.997281
1 1994-06-30         -1.792614                 -0.017926       0.979404
2 1994-07-29          1.173612                  0.011736       0.990898
3 1994-08-31         -0.643994                 -0.006440       0.984517
4 1994-09-30         -1.278395                 -0.012784       0.971931
       month  portfolio_return  portfolio_return_decimal  cum_portfolio
0 1994-05-31         -0.051703                 -0.000517       0.999483
1 1994-08-31         -0.501820                 -0.005018       0.994467
2 1994-11-30         -1.068947                 -0.010689       0.983837
3 1995-05-31         -0.659955                 -0.006600       0.977344
4 1995-06-30          0.801118                  0.008011       0.985174
  signalname      month       ret  cum_return
0         BM 1951-07-31 -1.115882    0.988841
1         BM 1951-08-31  2.060248    1.009214
2         BM 1951-09-28  2.272952    1.032153
3         BM 1951-10-31  0.952421    1.041983
4         BM 1951-11-30  0.388612    1.046032

     signalname      month       ret  cum_return
0            BM 1951-07-31 -1.115882    0.988841
1            BM 1951-08-31  2.060248    1.009214
2            BM 1951-09-28  2.272952    1.032153
3            BM 1951-10-31  0.952421    1.041983
4            BM 1951-11-30  0.388612    1.046032
...         ...        ...       ...         ...
1449     IndIPO 2023-08-31  0.934639    8.728752
1450     IndIPO 2023-09-29 -0.556917    8.680140
1451     IndIPO 2023-10-31  1.618694    8.820645
1452     IndIPO 2023-11-30  2.104581    9.006283
1453     IndIPO 2023-12-29  5.175893    9.472439

[1454 rows x 4 columns]

Merging with other dataframes:

In [7]:
signallist = ['IndIPO', 'BM']

In [8]:
# Step 1: Rename return columns for clarity
df_prop_renamed = df_prop[['month', 'portfolio_return']].rename(columns={'portfolio_return': 'prop_return'})
df_wins_renamed = df_wins[['month', 'portfolio_return']].rename(columns={'portfolio_return': 'wins_return'})

# Step 2: Pivot df_oap so each signal has its own return column
df_oap_pivot = df_oap.pivot(index='month', columns='signalname', values='ret').reset_index()

# Step 3: Merge all datasets on 'month'
df_merged = df_prop_renamed.merge(df_wins_renamed, on='month', how='outer') \
                            .merge(df_oap_pivot, on='month', how='outer')

# Step 4: Sort by month and display
df_merged = df_merged.sort_values('month')


df_merged

         month  prop_return  wins_return        BM  IndIPO
0   1951-07-31          NaN          NaN -1.115882     NaN
1   1951-08-31          NaN          NaN  2.060248     NaN
2   1951-09-28          NaN          NaN  2.272952     NaN
3   1951-10-31          NaN          NaN  0.952421     NaN
4   1951-11-30          NaN          NaN  0.388612     NaN
..         ...          ...          ...       ...     ...
877 2024-08-30    -0.940091          NaN       NaN     NaN
878 2024-09-30    -0.034985    -0.394045       NaN     NaN
879 2024-10-31     0.124382    -0.794644       NaN     NaN
880 2024-11-29     0.611263          NaN       NaN     NaN
881 2024-12-31    -0.155168          NaN       NaN     NaN

[882 rows x 5 columns]

Plot: