In [20]:
import pandas as pd
import openassetpricing as openap

# Define the signals you want to download
# signallist = ['IndIPO', 'BM']
signallist = ['BM', 'Mom12m']

# Initialize OpenAssetPricing API object
openap_obj = openap.OpenAP()

# Download portfolio returns for the selected signals
port_osap = openap_obj.dl_port('op', 'pandas', signallist)

# Convert date column to datetime
port_osap['date'] = pd.to_datetime(port_osap['date'])

# Keep only long-short (LS) portfolios
port_osap = port_osap[port_osap['port'] == 'LS']

# Display the result
port_osap

Data is downloaded: 15s

      signalname port       date       ret  signallag  Nlong  Nshort
8700          BM   LS 1951-07-31 -1.115882        NaN     33      33
8701          BM   LS 1951-08-31  2.060248        NaN     33      33
8702          BM   LS 1951-09-28  2.272952        NaN     33      33
8703          BM   LS 1951-10-31  0.952421        NaN     33      33
8704          BM   LS 1951-11-30  0.388612        NaN     33      33
...          ...  ...        ...       ...        ...    ...     ...
22369     Mom12m   LS 2023-08-31  9.140462        NaN    487     477
22370     Mom12m   LS 2023-09-29  7.178104        NaN    484     466
22371     Mom12m   LS 2023-10-31  6.032221        NaN    485     484
22372     Mom12m   LS 2023-11-30  6.939888        NaN    477     472
22373     Mom12m   LS 2023-12-29  6.495346        NaN    474     461

[2034 rows x 7 columns]

In [21]:
port_osap['signalname'].unique()

array(['BM', 'Mom12m'], dtype=object)

In [22]:
# Keep only relevant columns
port_osap_clean = port_osap[['signalname', 'date', 'ret']].copy()

# Filter to keep data from our sample
port_osap_clean = port_osap_clean[port_osap_clean['date'] >= '1994-05-31']

# Sort and calculate cumulative returns grouped by signal
port_osap_clean = port_osap_clean.sort_values(['signalname', 'date'])
port_osap_clean['cum_return'] = port_osap_clean.groupby('signalname')['ret'].transform(lambda x: (1 + x / 100).cumprod())

# Display result
port_osap_clean

      signalname       date       ret  cum_return
9214          BM 1994-05-31  0.853893    1.008539
9215          BM 1994-06-30  0.600545    1.014596
9216          BM 1994-07-29 -0.588024    1.008630
9217          BM 1994-08-31  0.832374    1.017025
9218          BM 1994-09-30  0.060671    1.017642
...          ...        ...       ...         ...
22369     Mom12m 2023-08-31  9.140462    1.967437
22370     Mom12m 2023-09-29  7.178104    2.108662
22371     Mom12m 2023-10-31  6.032221    2.235861
22372     Mom12m 2023-11-30  6.939888    2.391027
22373     Mom12m 2023-12-29  6.495346    2.546333

[712 rows x 4 columns]

In [23]:
# Save the cleaned and processed DataFrame
port_osap_clean.to_csv('../data/processed/OAP_signal_returns.csv', index=False)
print("File saved successfully.")

File saved successfully.